<h4>{{title}}</h4>
<div class="listPickerTrigger" {{action 'showHidePicker'}}>
<ul>
    {{#each item in selectedItems}}
        <li>{{item}}</li>
    {{/each}}
</ul>
</div>
<!--
<div id="listPickerContainer" class="listPickerContainer">
    <div class="listPickerTriangle">&#160;</div>
    <div class="row">
        <div class="col-md-4 checkbox">
            <label><input type="checkbox"> Skill 1</label>
        </div>
        <div class="col-md-4 checkbox">
            <label><input type="checkbox"> Skill 2</label>
        </div>
        <div class="col-md-4 checkbox">
            <label><input type="checkbox"> Skill 3</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 checkbox">
            <label><input type="checkbox"> Skill 4</label>
        </div>
        <div class="col-md-4 checkbox">
            <label><input type="checkbox"> Skill 5</label>
        </div>
        <div class="col-md-4 checkbox">
            <label><input type="checkbox"> Skill 6</label>
        </div>
    </div>
</div>
-->
