<img src="/images/your-photo-here.png" class="img-responsive img-thumbnail" id="imagePreview"/>
<input type="file" class="form-control-static" id="fileUpload" {{action "showImagePreview" on="change"}}>
<!--<p class="help-block">Put your image here.</p>-->
