.min-header-sub-nav-bar-main {
  background-color: $keen-green;
  height: 5px;
}

.min-header-sub-nav-bar-secondary {
  background-color: #cce49c;
  height: 3px;
}

.navbar {
  border: 0;
}

.navbar-brand {
  padding: 15px 20px;
}
